@import "../../assets/commons.css";

.listContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 82%;
}

.headerText.light{ 
    color: var(--Neutral900); 
}
.headerText.dark{ 
    color: var(--Neutral0);
}

.filterButton{
    font-family: var(--FontFamily);
    font-size: 14px;
    border-radius: 24px;
    width: calc(max-content + 1.5rem);
    padding: 6px 12px;
    margin: 0.3rem;
    cursor: pointer;
    transition: all 0.2s;
}

.filterButton.light{
    color: var(--Neutral900);
    border: 1px solid var(--Neutral200);
    background-color: var(--Neutral0);
}

.filterButton.light.selected {
    color: var(--Neutral0);
    background-color: var(--Red500);
    border-color: var(--Red700);
}
.filterButton.light.selected:hover {
    color: var(--Neutral0);
    background-color: var(--Red700);
    border-color: var(--Red700);
}

.filterButton.dark{
    color: var(--Neutral0);
    border: 1px solid var(--Neutral600);
    background-color: var(--Neutral700);
}

.filterButton.dark.selected {
    color: var(--Neutral0);
    background-color: var(--Red500);
    border-color: var(--Red500);
}
.filterButton.dark.selected:hover {
    color: var(--Neutral0);
    background-color: var(--Red700);
    border-color: var(--Red500);
}


.filterButton.light:hover{
     background-color: var(--Neutra100);
}

.filterButton.dark:hover{
     background-color: var(--Neutral600);
}