@import "../../assets/commons.css";

.listContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: 0 auto;
    width: 82%;
}

.headerText.light{
    color: var(--Neutral900);
}

.headerText.dark{
    color: var(--Neutral0);
}

.filterButton{
    font-family: var(--FontFamily);
    font-size: 14px;
    border-radius: 24px;
    width: max-content+1.5rem;
    padding: 6px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0.3rem;
    cursor: pointer;
}

/* TEMI + STATES */
/* ==== TEMA CHIARO ====*/
.filterButton.light{
    color: var(--Neutral900);
    border: 1px solid var(--Neutral200);
    background-color: var(--Neutral0);
}

.filterButton.light:hover{
    background-color: var(--Neutra100);
}
.filterButton.light:focus{
    outline: 2px solid var(--Red400);
    outline-offset: 1px;
}
.filterButton.light:active{
    color: var(--Neutral0);
    background-color: var(--Red700);
}
.filterButton.light:active:hover{
    background-color: var(--Red500);
}


/* ==== TEMA SCURO ==== */
.filterButton.dark{
    color: var(--Neutral0);
    border: 1px solid var(--Neutral600);
    background-color: var(--Neutral700);
}

.filterButton.dark:hover{
    background-color: var(--Neutral600);
}

.filterButton.dark:focus{
    background-color: var(--Neutral600);

    outline: 2px solid var(--Red400);
    outline-offset: 1px;
}

.filterButton.dark:active{
    background-color: var(--Red500);
}

.filterButton.dark:active:hover{
    background-color: var(--Red700);
}

