    /* Importo il font */
    @import "./assets/commons.css";

    html,body{
        height: 100%;
        margin: 0;
        font-family: var(--FontFamily);
        justify-content: center;
    }

    body.dark{
        background: var(--GradientDark);
    }

    body.light{
        background: var(--GradientLight);
    }


    /* CONTAINER LOGO E TASTO THEME*/
    .logoContainer{
        width: 80%;
        height: max-content;

        margin: 0 auto;
        margin-top: 1rem;
        border-radius: 8px;

        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;


        display: flex;
        justify-content: space-between; /* uno a sinistra, uno a destra */
        align-items: center;

    }

    .logoContainer.light{
        background: var(--Neutral0);
        border: 2px solid var(--Neutral200);
    }
    .logoContainer.dark{
        background: var(--Neutral700);
    }

    /* LOGO SVG*/
    .logoImage{
        height: max-content;
    }






