/* Importo il font */
@import "./assets/commons.css";
    
/* BODY STYLES */
    html, body {
        min-height: 100%;
        margin: 0;
        font-family: var(--FontFamily);
            background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    body.dark {
        background: var(--GradientDark);
    }

    body.light {
        background: var(--GradientLight);
    }


    /* CONTAINER LOGO */
    .logoContainer{
        width: 80%;
        height: max-content;

        margin: 0 auto;
        margin-top: 1rem;
        border-radius: 8px;

        padding-left: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 10px;


        display: flex;
        justify-content: space-between; 
        align-items: center;

    }

    .logoContainer.light{
        background: var(--Neutral0);
        border: 2px solid var(--Neutral200);
    }
    .logoContainer.dark{
        background: var(--Neutral700);
    }

    /* LOGO SVG*/
    .logoImage{
        height: max-content;
    }


    .extensionsContainer{
    padding-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    max-width: fit-content;
    margin: 0 auto;
    }

@media (max-width:1024px){
    .extensionsContainer{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    } 
}

@media (max-width:768px){
    .extensionsContainer{
        padding-top: 3rem;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 2rem;
    }



}


